.radio-off
{
    display: none;
}

.error {
    border: 1px solid red !important;
}

.pb-5, .py-5 {
    padding-bottom: 1rem !important;
}
.error-message {
    color: red !important;
    font-size: 15px;
    display: none;
    padding: 0px 15px;
}